
<div class="row">
  <div class="col-md-4 offset-md-4">
      <div class="card" style="width: 20rem;">
        <div class="card-header">
          Cadastre-se
        </div>
        <div class="card-body">
            <form #cadastroForm="ngForm" (ngSubmit)="cadastrar(cadastroForm, $event)">
                <div class="form-group">
                    <label for="name">Nome</label>
                    <input type="text" ngModel name="name" class="form-control" id="name" aria-describedby="name" placeholder="Enter Name">
                  </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" ngModel name="email" class="form-control" id="email" aria-describedby="email" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" ngModel name="password" class="form-control" id="password" placeholder="Password">
              </div>
              <button class="btn btn-primary btn-block">Cadastrar</button>
            </form>
        </div>
      </div>
  
  </div>
</div>
