<div class="row">
    <div class="col-sm-12 text-center">
        <h1>Faça login</h1>
    </div>
    <div class="col-md-4 offset-md-4">
        <div class="card" style="width: 20rem;">
          <div class="card-header">
            Login
          </div>
          <div class="card-body">
              <form #loginForm="ngForm" (ngSubmit)="login(loginForm, $event)">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" ngModel name="email" class="form-control" id="email" aria-describedby="email" placeholder="Enter email">
                </div>
                <div class="form-group">
                  <label for="password">Senha</label>
                  <input type="password" ngModel name="password" class="form-control" id="password" placeholder="Password">
                </div>
                <button class="btn btn-primary btn-block">Login</button>
              </form>
          </div>
        </div>
    
    </div>
  </div>
  
